<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @cocktail.name %></h1>
      <p>Ingredients:</p>
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.ingredient.name %>: <%= dose.description %> |
          <%= link_to "delete", dose_path(dose), method: :delete %>
        </li>
        <% end %>
      </ul>
      <%= link_to "add new dose", new_cocktail_dose_path(@cocktail) %>
      <br>
      <%= link_to "back to all cocktails", root_path %>
    </div>
  </div>
</div>
